#toTop{
    position: fixed;
    bottom: 5%;
    right: 3%;
    cursor: pointer;
    background-color: #000000;
    font-size: 1.3em;
    opacity: 0.6;
    border-radius: 100px;
    margin: 0 auto;
    height: 30px;
    width: 30px;
    text-align: center;
}

#toTop i{
    color: #fff;
    background: none;
    padding-top: 4px;
}